*, *:before, *after 
    box-sizing: border-box
    
body 
    background-color: #37474F
    font-family: sans-serif
    margin: 0
    padding: 0

.header
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-areas: "header-logo header-nav header-contacts"
    height: 6vw
    &-logo
        grid-area: header-logo
    &-nav 
        grid-area: header-nav
    &-contacts
        grid-area: header-contacts

.hero
    display: grid
    grid-template-areas: ". hero-img ." ". hero-text ."
    grid-template-columns: 1fr 4fr 1fr
    grid-template-rows: repeat(2, 1fr)
    height: 90vh
    justify-items: center
    &-img
        grid-area: hero-img
        grid-column: 2 / 3
        align-self: center
    &-text
        grid-column: 2 / 3
        text-align: center
        &__title
            grid-area: hero-title
            color: white
            font-size: 4em
        &__subtitle
            grid-area: hero-subtitle